/* color palette from <https://github.com/vuejs/theme> */
body {
  min-height: 100vh;
  /* color: var(--color-text); */
  /* background: var(--color-background); */
  background-color: #050540;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'DungGeunMo';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
