/* color palette from <https://github.com/vuejs/theme> */
body {
  height: 100vh;
  min-height: 370px;
  width: 100vw;
  min-width: 370px;
  line-height: 1.6;
  font-family: 'DungGeunMo';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(10, 45, 10);
}
body::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: "retroFont";
  src: url("/assets/font/digital.woff2");
}

@font-face {
  font-family: "DungGeunMo";
  src: url("/assets/font/DungGeunMo.woff2");
}